:root {
  font-size: calc(0.4vw + 12px);
  --baseClr: 40, 55, 71;
  --backClr: 243, 243, 243;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}
